.nav1 {
  color: orangered;
  display: inline-block;
  letter-spacing: 1px;
  padding: 25px;
}
.men {display: inline-block;}
.women {display: inline-block;}
.boys {display: inline-block;}
.girls {display: inline-block;}
.customize {display: inline-block;}

.nav2 {
  color: orangered;
  display: inline-block;
  float: right;
  letter-spacing: 1px
  padding: 25px;
}

.help {display: inline-block;}
.myaccount {display: inline-block;}
.shoppingcart {display: inline-block;}

.topsections {

  background-color: orangered;
}

.mainadsection1 {
  color: white;
  background-color: orangered;
  display: inline-block;

}


.mainadsection2 {
    display: inline-block;

    color: white;
  }

  .button {
    background-color: white;
    color: orangered;


  }

.quicksneakers {font-size: 100px;}
.springsummer {color: black;}
.ipsum1 {border: 50px;}


.productdetailstitle {
  text-align: left;
  color: orangered;
  padding-left: 200px;
  padding-top: 20px;
  border-bottom: orangered;

}
.reviews {
  float: right;
}

.productdetails {
  color: black;
  padding-left: 200px;
  padding-bottom: 250px;
}
  .product {display: inline-block; letter-spacing: 2px; padding-right: 10px; text-decoration: underline; color: brown}
  .size {display: inline-block; letter-spacing: 2px; color: red;}
  .reveiw {color: red; float: right;}

.SRS {
  text-align: center;
  background-color: lightgrey;
  height: 75px;
  font-size: 40px;
}



.bottomad {
  color: white;
  background-color: orangered;
  padding: 250px;
  padding-top: 100px;
  padding-bottom: 100px;



}
  .shoe1 {display: inline-block; padding-left: 400px;}
  .shoe2{display: inline-block; padding-left: 400px;}
  .shoe3{display: inline-block;padding-left: 400px;}

.bottomnav1 {
  color: orangered;
  display: inline-block;
  padding: 20px;

}

  .men {display: inline-block;}
  .women {display: inline-block; text-decoration: underline;}
  .boys {display: inline-block;}
  .girls {display: inline-block;}
  .customize {display: inline-block;}

.bottomnav2 {
display: inline-block;
float: right;
padding: 20px;

}

.shipping {display: inline-block; text-decoration:underline;}
.termsconditions {display: inline-block; text-decoration: underline;}
.copyright {display: inline-block;}
