.nav1 {
  color: orangered;
  display: inline-block;
  letter-spacing: 2px;
  padding: 25px;
}
.men {display: inline-block;}
.women {display: inline-block; text-decoration: underline;}
.boys {display: inline-block;}
.girls {display: inline-block;}
.customize {display: inline-block;}

.nav2 {
  color: orangered;
  display: inline-block;
  float: right;
  letter-spacing: 2px
}

.help {display: inline-block;}
.myaccount {display: inline-block;}
.shoppingcart {display: inline-block;}

.mainadsections {
}

.mainadsection1 {

  color: white;
  background-color: orangered;


}

  .mainadsection2 {

  

  }


.productdetailstitle {
  text-align: left;
  color: orangered;
  padding: 50px;
}

.productdetails {
  color: black;
  padding: 50px;

}
  .product {display: inline-block; letter-spacing: 2px; padding-right: 10px; text-decoration: underline; color: brown}
  .size {display: inline-block; letter-spacing: 2px; color: red;}
  .reveiw {color: red; float: right;}

.SRS {
  text-align: center;
  background-color: lightgrey;
  height: 75px;
}

.bottomad {
  color: white;
  background-color: orangered;
  display: inline-flex;
}

.bottomnav1 {
  color: orangered;
  letter-spacing: 2px'
}

  .men {display: inline-block;}
  .women {display: inline-block; text-decoration: underline;}
  .boys {display: inline-block;}
  .girls {display: inline-block;}
  .customize {display: inline-block;}

.bottomnav2 {
display: inline-block;
letter-spacing: 2px;
float: right;
padding-left: 50px;
}

.shipping {display: inline-block; text-decoration:underline;}
.termsconditions {display: inline-block; text-decoration: underline;}
.copyright {display: inline-block;}
